* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 14px;
	font-family: meiryo;
}

input,
select,
button,
textarea {
	font-size: 13px;
	font-family: meiryo;
}

#root {
	height: 100vh;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

header {
	background: #683700;
	color: #fafafa;
	padding: 10px 20px;
	flex: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.body {
	flex: 1 1 0;
	display: flex;
	position: relative;
}

.date-list {
	flex: 0 0 180px;
	border-right: 1px solid #d0d0d0;
	background-color: #fcfcfc;
}

.date-list .date-item {
	padding: 10px 15px;
	border-bottom: 1px solid #d0d0d0;
	cursor: default;
}

.date-list .date-item.selected {
	background-color: #eee;
}

.date-list .date {
	font-size: 15px;
}

.date-list .todo-count {
	font-size: 12px;
	color: #999;
	text-align: right;
}

.todo-container {
	flex: 1 1 0;
	padding: 20px;
}

.todo-container .todo-item {
	margin: 15px;
	font-size: 16px;
	display: flex;
	align-items: center;
}

.todo-container .todo-item input[type="checkbox"] {
	width: 18px;
	height: 18px;
	margin-right: 15px;
	cursor: pointer;
}

.todo-container .todo-item span {
	cursor: default;
}

.slidein-description {
	width: 30%;
	min-width: 350px;
	height: 100%;
	background: #eee;
	border-left: 1px solid #dedede;
	position: absolute;
	right: 0;
	transform: translateX(100%);
	transition: transform 0.3s ease 0s;
	word-break: break-all;
	overflow: auto;
}

.slidein-description.in {
	transform: translateX(0);
}

.slidein-description .top-buttons {
	text-align: right;
}

.slidein-description .second-buttons {
	margin-top: 10px;
	text-align: center;
}

.slidein-description .second-buttons button {
	width: 80px;
	margin: 0 10px;
}

.slidein-description h1 {
	font-size: 18px;
	margin: 30px 10px 20px;
}

.slidein-description .description {
	margin: 10px 20px 10px 30px;
	white-space: pre-wrap;
}

.edit-dialog {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #0003;
}

.edit-dialog.shown {
	display: flex;
}

.edit-dialog .dialog-inner {
	width: 60%;
	margin: auto;
	background: #fafafa;
	padding: 20px;
	box-shadow: 0 0 20px 0px #0004;
}

.edit-dialog textarea {
	display: block;
	width: 100%;
	height: 50vh;
	resize: vertical;
}

.edit-dialog .buttons {
	margin-top: 10px;
	text-align: right;
}

.edit-dialog .buttons button {
	width: 80px;
	margin-left: 10px;
}
